<div class="container top-buffer">

    <div class="fluid-container" *ngIf="legoShopSets && legoShopSets.length > 0">
        <div class="row list-row" *ngFor="let set of legoShopSets" (click)="showDetails(set.set_id)">
            <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2 thumbnail">
                <img [src]="set.img_tn" alt="Lego set image" class="img-thumbnail"/>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-9 col-lg-10">
                <div class="row">
                        <div class="col-md-4">                        
                            <span class="set-name">{{set.set_id}}</span>
                        </div>
                        <div class="col-md-8 add-info">
                                <span class="set-pieces"><em>Piece count:</em> {{set.pieces}},</span>
                                <span class="set-year"><em>Year:</em> {{set.year}}</span>
                        </div>
                </div>
                <div class="row">
                    <span class="set-description col-xs-12 col-md-12">{{set.descr}}</span>
                </div>
                <hr>
            </div>
        </div>
    </div>


    <div *ngIf="!legoShopSets || legoShopSets.length == 0">
        <p>LEGO sets not found.</p>
    </div>
</div>