<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{appTitle}}</h1>
        <p>This is a demo Angular2 Lego Set Management application built with Capgemini OASP Angular2 application seed.</p>
        <p><a class="btn btn-primary btn-lg" href="http://oasp.github.io/" role="button">Learn more about OASP &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let set of legoSets" class="card" class="col-md-4">
            <img class="card-img-top" [src]="set.imagePath" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">{{set.name}} Set</h4>
                <div><label>Name: </label>{{set.name}}</div>
                <div><label>Status: </label>{{set.status}}</div>
                <div><label>Comment: </label>{{set.comment}}</div>
                <p><a class="btn btn-secondary" role="button" (click)="showDetails(set.id)">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>