<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#">LegoApp</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/lego-sets" routerLinkActive="active">Lego Sets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lego-set-details" routerLinkActive="active">Add New</a>
            </li>

        </ul>
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{appTitle}}</h1>
        <p>This is a demo Angular2 Lego Set Management application built with Capgemini OASP Angular2 application seed.</p>
        <p><a class="btn btn-primary btn-lg" href="http://oasp.github.io/" role="button">Learn more about OASP &raquo;</a></p>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
    <hr>

    <footer>
        <p>&copy; Capgemini IT Survival 2017</p>
    </footer>
</div>
<!-- /container -->