<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{appTitle}}</h1>
        <p>This is a demo Angular2 Lego Set Management application built with Capgemini OASP Angular2 application seed.</p>
        <p><a class="btn btn-primary btn-lg" href="http://oasp.github.io/" role="button">Learn more about OASP &raquo;</a></p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let set of legoShopSets" class="card" class="col-md-4">
            <img style="height: 150px;" class="card-img-top" [src]="set.img_tn" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">{{set.descr}} Set</h4>
                <div><label>Name: </label>{{set.descr}}</div>
                <div><label>Piece count: </label>{{set.pieces}}</div>
                <div><label>Theme: </label>{{set.theme}}</div>
                <p><a class="btn btn-secondary" role="button" [routerLink]="['/lego-shop-details', set.set_id]">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>